:root {
  --primaryColor: hsl(94, 59%, 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(191, 183, 183);
  --inputColor: hsl(330, 12%, 97%);
  /* fontsize */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;

}

.sidebar {
  background-color: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  max-width: 20%;
  height: 100%;
  gap: 1rem;
  overflow: auto;

}

.sidebar .logoDiv {
  padding: 1.5rem;
  cursor: pointer;
}

.logoDiv img {
  /* height: 140px; */
  width: 20px;
  margin-right: .5rem;
  background: var(--inputColor);
  border-radius: .2rem;

}

.logoDiv h2 {
  font-size: var(--h2FontSize);
  color: var(--primaryColor);
}

.divTitle {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 0 1.5rem 1.5rem;

}

.menuLists .listItem {
  padding: .2rem 1.5rem;
  width: 100%;
  position: relative;
}

.menuLists .listItem::before {
  position: absolute;
  content: "";
  height: 0%;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--primaryColor);

}

.menuLink {
  color: var(--textColor);
  font-weight: 500;
}

.menuLink .icon {
  margin-right: .5rem;
}

.menuLists .listItem:hover::before {
  color: var(--primaryColor);
  transition: 0;
  height: 100%;

}

.sideBarCard {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.sideBarCard .icon {
  position: absolute;
  background: var(--hoverColor);
  border: 10px solid var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(30%);
  z-index: 100;

}

.cardContent {
  position: relative;
  padding: 10px 3px;
  background: var(--hoverColor);
  border-radius: 10px;
  overflow: hidden;
}

.cardContent h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}

.cardContent p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 700;
}

.btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
  /* padding: 3px; */
}

.circle1,
.circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  opacity: .7;
}

.circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}

.circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}